<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.phodo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PHODO"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_camera_home"
            android:theme="@style/Theme.PHODO.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:hardwareAccelerated="false"> -->

        <activity
            android:name=".PhotoGuide.PhotoGuideList"
            android:exported="true"
            android:theme="@style/Theme.PHODO.NoActionBar">
        </activity>
        <activity
            android:name=".PhotoGuide.PhotoGuideDetail"
            android:exported="true"
            android:theme="@style/Theme.PHODO.NoActionBar">
        </activity>
        <activity
            android:name=".PhotoMap.MapActivity"
            android:exported="true"
            android:theme="@style/Theme.PHODO.NoActionBar">
        </activity>
        <activity
            android:name=".photoMaker.PhotoMaker"
            android:exported="true"
            android:theme="@style/Theme.PHODO.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="d01aba9b8c8393addd5cbf36ea1f607c"/>
    </application>

</manifest>